* {
  margin: 0;
  padding: 0;
}
.shipbg {
  height: 100vh;
  background-size: cover;
  background-image: url(Ship.jpg);
  background-repeat: no-repeat;
}
.logo {
  color: white;
  display: inline-block;
  font-family: "Pangolin", cursive;
  text-align: center;
  font-size: larger;
}
.arrow {
  border: solid white;
  border-width: 0 1.5px 1.5px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.arrow2 {
  border: solid rgb(252, 67, 67);
  border-width: 0 1.5px 1.5px 0;
  display: inline-block;
  padding: 3px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
nav {
  display: flex;
  justify-content: space-around;
  height: 5vh;
  padding: 2vh;
  color: white;
  border-bottom: solid white 0.1vh;
}
nav ul li {
  width: 8vw;
  display: inline-block;
  font-size: large;
}
nav button {
  height: 6vh;
  width: 8vw;
  background-color: rgb(252, 67, 67);
  color: white;
  border: none;
  display: inline-block;
}
.heading {
  margin: 30vh 7.5vw 0 7.5vw;
  color: white;
  font-size: large;
}
.heading h1 {
  font-size: 10vh;
  margin-bottom: 5vh;
  font-family: "DM Sans", sans-serif;
}
.start {
  height: 6vh;
  width: 8vw;
  margin: 3vh 0 0 7.5vw;
  background-color: rgb(252, 67, 67);
  color: white;
  border: none;
  display: inline-block;
}
.learn {
  height: 6vh;
  width: 8vw;
  margin: 3vh 7.5vw 0 0;
  background-color: transparent;
  color: white;
  border: solid white;
  display: inline-block;
}
.container {
  margin: 8vh 3.8vw 0 3.8vw;
  display: flex;
  justify-content: space-around;
}
.box1 {
  height: 16vh;
  width: 23vw;
  background-color: white;
  color: black;
  font-family: "DM Sans", sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: left;
  font-size: x-large;
  padding-top: 2rem;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.box2 {
  height: 16vh;
  width: 23vw;
  background-color: rgb(252, 67, 67);
  color: white;
  font-family: "DM Sans", sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: left;
  font-size: x-large;
  padding-top: 2rem;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.box1 img {
  height: 10vh;
  width: 10vh;
  padding: .5vh .5vw;
  background-color: rgb(252, 67, 67);
}
.box2 img {
  height: 10vh;
  width: 10vh;
  padding: .5vh .5vw;
  background-color: white;
}
.mapbg {
  background-image: url(worldmap.avif);
  background-repeat: no-repeat;
  background-size: cover;
}
.container2 {
  height: 90vh;
  display: flex;
  justify-content: space-around;
  margin: 30vh 0 0 0;
}
.part1 {
  width: 37vw;
}
.part2 {
  width: 28vw;
}
.free {
  height: 6vh;
  width: 10vw;
  margin-top: 5vh;
  background-color: rgb(252, 67, 67);
  color: white;
  border: none;
  display: inline-block;
}
.why {
  color: rgb(252, 67, 67);
  font-family: "Poppins", sans-serif;
  font-size: medium;
  text-transform: uppercase;
  font-weight: bold;
}
.head {
  font-size: 8vh;
  margin-bottom: 5vh;
  font-family: "DM Sans", sans-serif;
}
.div {
  width: 30vw;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.subhead {
  color: black;
  width: 23vw;
  font-family: "DM Sans", sans-serif;
  font-size: x-large;
}
.para1 {
  width: 23vw;
  padding: 3vh 0;
}
.div img {
  height: 7vh;
  width: 4vw;
}
.industrybg {
  height: 100vh;
  background-image: url(industrial_bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
.container3 {
  padding-top: 10vh;
  display: flex;
  justify-content: space-around;
}
.form {
  width: 45vw;
}
.form1{
  padding: 2vh 4vw;
  height: 70vh;
  background-color: white;
}
.form1 .why{
  text-transform: none;
  font-weight: none;
  font-size: small;
  margin: 2vh 0;
}
.form1 .free{
  margin-top: 6vh;
  width: 38vw;
}
.data{
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 5vh 0 6vh 0;
}
.data1{
  display: grid;
  grid-template-columns: 11.5vw 5.8vw 5.8vw 5.8vw 5.8vw;
  margin: 6vh 0 3vh 0;
}
.form1 input{
  background-color: transparent;
  border: none;
  border-bottom: solid gray .1vh;
  margin: 0 1vw;
}
.data2 input{
  margin: 3vh 0 0 0;
}
.data2 label{
  margin-right: 1vw;
}
.track{
    height: 6vh;
    width: 10vw;
    margin-top: 5vh;
    background-color: rgba(163, 163, 163, 0.871);
    color: white;
    border: none;
    display: inline-block;
}
.working {
  width: 34vw;
}
.working .head {
  color: white;
  font-size: 3vw;
  padding-top: 3vh;
}
.working .subhead {
  color: wheat;
}
.working .para1 {
  color: wheat;
}
.container4 {
  height: 155vh;
  padding-top: 10vh;
}
.container4top {
  height: 50vh;
  margin: 0 4vw;
  display: flex;
  justify-content: space-around;
}
.container4top .ans {
  width: 33vw;
  padding-top: 18vh;
  color: rgb(76, 76, 76);
}
.container4top .head {
  width: 30vw;
  font-size: 7vh;
  padding-top: 2vh;
}
.container4top .why {
  padding-top: 8vh;
}
.container4bottom {
  margin: 0 9vw;
  display: grid;
  grid-row-gap: 5vw;
  grid-column-gap: 13vh;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}
.container4bottom .ans{
  margin-top: 2vh;
  color: rgb(76, 76, 76);
}
.container4bottom .grid img {
  height: 6vh;
  width: 3vw;
  padding: .5vh .5vw;
  margin-bottom: 2vh;
  background-color: rgb(1, 1, 52);
}
.container5 {
  height: 100vh;
  background-color: rgb(194, 194, 194);
}
.container5 .why {
  text-align: center;
  padding: 12vh 0 4vh 0;
}
.container5 .head {
  text-align: center;
  font-size: 7vh;
}
.container5 .ans {
  text-align: center;
}
.container5bottom {
  padding-top: 10vh;
  display: flex;
  justify-content: space-between;
}
.para2 {
  width: 26vw;
  margin: 0 6vw;
  font-size: 4vh;
}
.name {
  padding-top: 4vh;
  margin-left: 6vw;
}
.country {
  padding-top: 1vh;
  margin-left: 6vw;
}
.img1 {
  height: 45vh;
  width: 27vw;
  object-fit: cover;
}
.img2 {
  height: 35vh;
  width: 18vw;
  object-fit: cover;
}
.img3 {
  height: 35vh;
  width: 7vw;
  object-fit: cover;
  object-position: left;
}
.button1 {
  height: 6vh;
  width: 6vh;
  margin: 5vh 0 0 6vw;
  background-color: transparent;
  border: solid gray 0.3vh;
  color: gray;
}
.button2 {
  height: 6vh;
  width: 6vh;
  background-color: rgb(252, 67, 67);
  border: none;
  color: white;
}
.container6 {
  height: 160vh;
  padding-top: 10vh;
}
.container6 .head {
  font-size: 5vh;
  width: 27vw;
  margin-bottom: 0;
}
.container6 .why {
  margin: 1.5vh 0;
  text-transform: none;
  font-size: small;
}
.container6 header {
  margin: 0 4vw;
  display: flex;
  justify-content: space-between;
}
.container6bottom {
  display: flex;
  justify-content: space-around;
}
.col1 {
  margin-top: 7vh;
  text-align: left;
}
.container6 img {
  height: 70vh;
  width: 25vw;
  object-fit: cover;
}
.container7 {
  display: flex;
  justify-content: center;
  margin: -30vh 5vw 0 7vw;
  position: absolute;
}
.container7 .first {
  height: 60vh;
  width: 40vw;
  background-image: url(moving_truck.webp);
  background-size: cover;
  background-repeat: repeat-y;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.container7 .second {
  background-color: white;
  height: 52vh;
  width: 35vw;
  padding: 4vh 5vw;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.contauner7 .head {
  margin-bottom: 0;
}
.container7 .para1 {
  padding: 0.5vh 0;
}
.container7 .free {
  margin-top: 3vh;
}
.container8 {
  height: 130vh;
  background-color: rgb(1, 1, 52);
}
.container8bottom {
  padding: 50vh 7vw 0 7vw;
  display: flex;
  justify-content: space-around;
}
.container8bottom .logo {
  margin-bottom: 8vh;
}
.details {
  margin-top: 3vh;
}
.details img {
  height: 3vh;
  width: 1.5vw;
  display: inline;
}
.para3 {
  color: rgba(255, 255, 255, 0.849);
  font-family: "Poppins", sans-serif;
  font-size: medium;
  text-transform: none;
  display: inline;
}
.deatils2 {
  width: 3vw;
  color: rgba(171, 171, 171, 0.833);
}
.details2 .why {
  font-weight: normal;
  margin-bottom: 2vh;
}
.details2 ul li {
  color: rgba(171, 171, 171, 0.833);
  font-family: "Poppins", sans-serif;
  list-style: none;
  padding: 1.5vh 0;
}
footer {
  color: rgba(128, 128, 128, 0.628);
  padding-top: 8vh;
  margin: 20vh 6vw 0 6vw;
  border-top: solid gray 0.1vh;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
}
footer img {
  height: 6vh;
  width: 3vw;
  padding: 0 1vw 1vh 1vw;
}
